---
import "../styles/global.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>Liliut</title>
<meta
  name="description"
  content="Liliut (Lilium-Typst) is a Visual Novel Engine powered by Astro and Typst. Liliut (Lilium-Typst)是一款基于 Astro 和 Typst 的视觉小说引擎。"
/>
